header{
    background-color: blanchedalmond;
}
body{
    background-color:blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.butt{
    padding: 10px 20px;
    font-size: 25px;
    background-color: aqua;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}
img{
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}
.content{
    align-items: center;
    display: block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}